.product-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    height: 100%;

    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.product-image-container {
    text-align: center;

    @media (max-width: 767px) {
        margin-top: 200px;
    }
}

.product-image {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    min-height: 300px;
}

.product-details {
    background-color: #fff;
    padding: 30px;
    height: fit-content;

    @media (max-width: 767px) {
        border-top: 1px solid #bfbfbf;
    }

    @media (min-width: 767px) {
        border-left: 1px solid #bfbfbf;
    }
}


.product-data-loading {
    height: 40px;
    width: 100%;
    margin-bottom: 12px;
}

.product-shop-btn {
    margin-top: 30px;

    @media (max-width: 767px) {
        width: 100%;
    }
}