<div class="product-container">
    <div class="product-image-container">
        <img [src]="product?.img" [alt]="product?.name" class="product-image" />
    </div>
    <div class="product-details">
        <h2>{{ product?.name | uppercase }}</h2>
        <!-- <p>{{ product.description }}</p> -->
        <p><b>Técnica: </b>{{ product.technique }}</p>
        <p><b>Medidas: </b>{{ product.measures }}</p>
        <p class="product-price"><b>Precio: </b>{{ product?.price | currency: 'EUR' : 'symbol' : '1.2-2' : 'es' }}</p>
    </div>
</div>
<div class="product-actions">
    <button mat-fab extended color="primary" (click)="addToCart(product)">
        Añadir al carrito
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
</div>