<div class="about__container">
    <div class="about__text text-center">
        <h2>Fernando de Santiago Espinosa</h2>

        <h1>FdS</h1>

        <h2>
            <p>Diseñador gráfico e ilustrador.</p>
            <p>Trabajando para distintos grupos editoriales y sellos como: Random, Santillana, Aguilar, Taurus, Lumen,
                Alfaguara, Plaza & Janes.</p>
            <p>Participante en la 32ª y 33ª edición de la Feria de Arte Contemporáneo FLECHA Madrid</p>
        </h2>
    </div>

    <div class="about__img text-center">
        <p>
            <a href="https://www.larazon.es/madrid/20230203/74pk4xu7hneqvcm2ducgowtfpi.html">La Razón - "Starsky, Falcó
                y la «basura
                de guerra» hecha escultura".</a>
        </p>
        <img src="https://storage.googleapis.com/fds-product-images/sobre-mi.png" alt="sobre-mi"
            class="about__front-page" />
    </div>
</div>