<div class="home__container">
    <img src="https://storage.googleapis.com/fds-product-images/portada.png" alt="portada" class="home__front-page" />
    <hr/>
    <img src="https://storage.googleapis.com/fds-product-images/cartel-expo-toledo.jpg" alt="cartel-expo-toledo" class="home__poster" />
    <hr/>
    <div class="home__text-intro">
        <p>Las cosas simplemente están ahí, solas, perdidas, sin dueño.</p>
        <p class="home__margin-2">Yo las cojo y las reúno, las observo y las doy mil vueltas. </p>
        <p class="home__margin-3">Ellas se dejan hacer, pues no tienen pretensiones. Saben que una a una son
            insignificantes, poco menos que basura, y esperan pacientemente junto a las demás
            a que les llegue el turno de ser elegidas y puestas en su lugar. Es importante escoger
            la adecuada para cada espacio. No valen de cualquier manera, si no de ésa, de la que
            encaja y queda bien…, y colocarla. Es entonces, en ese momento, cuando se despojan
            de su irrelevancia y pasan a ser detalle. Porque el detalle es importante. Es lo que
            les devuelve la visibilidad que un día tuvieron. Y todas unidas forman la obra.
            Eso les da fuerza y carácter. Y un nuevo motivo para sentirse admiradas.</p>
        <p class="home__margin-2">Las cosas están ahí, solo hay que saber colocarlas.</p>
    </div>

    <div class="home__contact">
        <p class="">Contacto:</p>
        <a class="home__email" href="mailto:robotesymas@gmail.com">robotesymas&#64;gmail.com</a>
    </div>

    <h1 class="home__link"><a [routerLink]="['/gallery']">Galería</a></h1>
</div>