@use '@angular/material' as mat;
@include mat.core();
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-drawer-container {
  color: #000 !important;
}

.loader-skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}